# Arquivos do Neon e Agentes do CLI
.agents/
skills-lock.json
.neon/
.claude/

# Variáveis de ambiente e segredos
.env
.env.local
.env.*.local
*.env

# Dependências do Node (caso crie um package.json/backend)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos do Sistema Operacional e IDEs
.DS_Store
Thumbs.db
.vscode/
.idea/